
@{
    ViewBag.Title = "Reseived Questions";
    Layout = "~/Views/Shared/Agency_Layout.cshtml";
}

<div class="content">
    <!-- Start Questions Table-->
    <table class="table" style="margin-top: 18px;">
        <thead class="thead-light">
            <tr>

                <th scope="col">Traveller Name</th>
                <th scope="col">Trip Post Title</th>
                <th scope="col">Question</th>
                <th scope="col">  Write the answer</th> <!-- State: answerd/ or not-->
            </tr>
        </thead>
        <tbody>
            <tr>
             
                <td scope="col"">Traveller Name</td>
                <td scope="col">Trip Post Title</td>
                <td scope="col">Question</td>
                <td scope="col">
                    <!-- Start Answer Form-->
                    <form class="AnswerQ">
                        <div class="row">
                        <div class="form-group col-9">

                            <textarea class="form-control " id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary CreatePost">Answer</button>
                        </div>
                       </div>
                    </form>
<!-- End Answer Form-->
                </td>
            </tr>


        </tbody>
    </table>
<!-- Start Questions Table-->
</div>

